name: coverage test

on:
  push:
    branches:
      - 'master'
    paths:
      - '.github/workflows/*'
      - 'packages/**'
      - 'tests/**'
      - 'build/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      # 检出代码库
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # 设置 Node.js 版本
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          registry-url: https://registry.npmjs.com

      # 启用 Corepack 以支持 Yarn 4
      - name: Enable Corepack
        run: corepack enable

      # 准备 Yarn 4.x
      - name: Prepare Yarn
        run: corepack prepare yarn@4.4.1 --activate

      # 加载依赖缓存
      - name: Load cached dependencies
        uses: actions/cache@v4.1.0
        id: cache
        with:
          path: |
            **/node_modules
            **/.turbo
            /home/runner/.cache/Cypress
          key: ${{ runner.os }}-node-${{ matrix.node-version }}-${{ hashFiles('**/package-lock.json') }}

      # 安装依赖
      - name: Install dependencies
        run: yarn install

      # 构建项目
      - name: Build packages
        run: yarn build

      # 运行单元测试并生成覆盖率报告
      - name: Unit test
        run: yarn run test-c

      # 上传覆盖率报告到 Codecov
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.6.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
